<!-- <p>app-ulde-viewer works</p> -->
<app-ulde-layout-shell [$loading]="loading" [$error]="error" [$contentResult]="contentResult"  [$html]="sanitizedContent" [$inputDocId]="$inputDocId().docId" ($outputDocId)="linkDocId($event)"></app-ulde-layout-shell>
<!-- <app-ulde-layout-shell [html]="html()"></app-ulde-layout-shell> -->
<!--
<div>
  @if (loading) {
  <div class="ulde-viewer__loading">
    Loading…
  </div>
  } @else {

  @if (error) {
  <div class="ulde-viewer__error">
    {{ error }}
  </div>
  } @else {

  @if (contentResult) {
  <div id="ulde_viewer_root" #ulde_viewer_root class="ulde-viewer__content" [innerHTML]="sanitizedContent"></div>
  <app-ulde-debug-overlay />
  }

  }

  }

</div> -->
